<div class="row">
  <div class="col-12">
    <h4 class="title">Doanh số bán hàng năm {{year}}</h4>
  </div>
  <br>
  <mat-select (selectionChange)="changeYear($event)" [value]="year" class="col-2 years-select">
    <mat-option *ngFor="let o of years" [value]="o">
      {{o}}
    </mat-option>
  </mat-select>
</div>
<br><br>
<div class="row chart-container">
  <ngx-charts-bar-vertical [results]="revenues" [view]="view" [scheme]="colorScheme" 
    [schemeType]="schemeType"  [xAxis]="xAxis" [yAxis]="yAxis" 
    [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" [yAxisLabel]="xAxisLabel" [legendTitle]="legendTitle" 
    [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" 
    [xAxisTickFormatting]="formatString" 
    [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks" 
    [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled">
  </ngx-charts-bar-vertical>
</div>
