<div class="container-fluid">
    <div class="row justify-content-center">
      <h2 style="font-family: 'Anton', sans-serif" class="text-center">
        Người dùng của hệ thống
      </h2>
    </div>
    <button class="btn btn-success" (click)="add('add')">Thêm mới</button>
    <table *ngIf="users" class="table table-striped ">
      <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">ID</th>
        <th scope="col">Tên</th>
        <th scope="col">Mô tả</th>
        <th scope="col">Giá</th>
        <th scope="col">Hình ảnh</th>
        <th scope="col">Ngày tạo</th>
        <th scope="col">Thao tác</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of products |  paginate: { 
                                                    id: 'product-pagination',
                                                    itemsPerPage: pageSize,
                                                    currentPage: page,
                                                    totalItems: totalProducts 
                                                } ; let i = index;">
            <td scope="row">{{i + 1}}</td>
            <td>
                <p class="lead">{{u.id}}</p>
            </td>
            <td>
                <p class="lead">{{u.username}}</p>
            </td>
            <td>
                <p class="lead">{{u.fullname}}</p>
            </td>
            <td>
                <p class="lead">{{u.phoneNumber}}</p>
            </td>
            <td>
                <p class="lead">{{u.address}}</p>
            </td>
            <td>
                <p class="lead">{{u.createDate}}</p>
            </td>
            <td>
                <div *ngFor= "let role of u.roles">
                    <p class="lead">{{role}} </p>
                </div>
            </td>
            <td>
                <button class="btn btn-info" (click)="edit(u, 'edit')">
                    Sửa
                </button>
                <button class="btn btn-danger" (click) = "delete(u, 'delete')">
                    Xóa
                </button>
            </td>
        </tr>
      </tbody>
    </table>

</div>

<!-- Phân trang -->
<pagination-controls *ngIf="paginationIsDisplay"
 class="product-pagination"
 id="product-pagination"
 previousLabel="Prev"
 nextLabel="Next"
 directionLinks:boolean="true"
 autoHide:boolean="true"
 responsive:boolean="true"
 (pageChange)="handlePageChange($event)">
</pagination-controls>
